doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Being Developer
  style
      include style.css
section.container
  #nav
    .nav-left Rup-Developer
    .nav-right
      img#menubtn(src='../static/menu.png' )
      ul#sidenav 
        li
          a(href='') HOME
        li
          a(href='#about') ABOUT
        li
          a(href='#services') SERVICES
        li
          a(href='#contact') CONTACT
// hOME
section#home
  .row
    .col-left
      h1
        | We are a team of best full 
        strong.overlite Stack Developer 
        | in the market.
      p
        | We provide alot of services at affordable price. I am a freelancer, video creator, a tutor.
        | we worked with many company to help them to take their business at next level. If you are startup
        | and want to grow your business then contact us.
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro nesciunt ex quod, vitae dolorem, ducimus dignissimos illum aspernatur ullam labore veritatis fugit corrupti deleniti a vel aliquid expedita exercitationem repudiandae atque quibusdam possimus! Nulla reiciendis eum eos illum natus laborum itaque mollitia dicta dignissimos omnis odio sed quia, quasi earum.
      button.btn Order Now
    .col-right
      img(src='../static/men-4451375.png')
// ABOUT
section#about
  .row
    .col-1
      img(src='../static/man-4498454.png')
    .col-2
      h1
        | Our 
        strong.overlite team
        |  work
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident ea exercitationem, veritatis hic
        | dicta, pariatur placeat enim ut unde dolorum debitis odio dolorem consequatur est? Lorem ipsum dolor
        | sit amet, consectetur adipisicing elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        | Dolorum et veritatis iste voluptatem hic molestiae enim odio doloribus perferendis fugiat?
      p
        | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laudantium similique ea ad at, accusamus optio repellat? Deleniti laborum odio facilis quam sed aperiam est quasi vero autem quaerat consectetur voluptatum enim soluta, reiciendis quidem quisquam assumenda incidunt, harum rerum eveniet ullam quis distinctio beatae dignissimos! Fugit adipisci ipsam, optio quas quisquam repellendus facere, molestias fuga quis necessitatibus exercitationem earum, alias dolor blanditiis libero quibusdam debitis veritatis labore accusamus tenetur rerum perferendis. Quam modi possimus magnam minus, earum non, necessitatibus, architecto nihil eligendi incidunt repudiandae dignissimos itaque voluptatibus. Officiis, debitis ipsam optio ad eaque exercitationem. Ut porro vero eos adipisci.
// SERVICES
section#services
  .row
    .col-3
      h1
        | Our
        strong.overlite  Services 
        |  which we 
        strong.overlite  provide 
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis illum dicta, culpa consectetur
        | molestiae ullam porro nihil quaerat odit laudantium natus debitis eligendi sunt maxime placeat
        | veniam ipsam enim magni incidunt, vero perspiciatis explicabo illo! Alias corporis neque quas ab?
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita natus ipsam et iure hic voluptatibus non temporibus velit eligendi sequi voluptatem dicta tempora quis suscipit culpa fuga perferendis, vero blanditiis? Aliquam, fugit labore veniam architecto adipisci eveniet alias eligendi accusantium ut quia est commodi ducimus ad fugiat sed ipsa dolores non quibusdam exercitationem iusto deleniti. Magnam obcaecati voluptas eligendi fugiat nam! Vel laboriosam iusto asperiores, eaque officia nam assumenda ea?
      .offer
        h3 WEB PROGRAMMING
        h3 CONTENT WRITING
        h3 SEO OPTIMIZATION
        h3 WEB HOSTING
        h3 WEB DESIGN
    .col-4
      img(src='../static/business-4451372.png')
// CONTACT
section#contact
  .row
    .col-5
      img(src='../static/programmer-3607627.png')
    .col-6
      h1
        strong.overlite CONTACT 
        | US
      .form
        form(action='/' method='post')
          input(type='text' name='name' id='' placeholder='Enter Name' required='')
          input(type='email' name='email' id='' placeholder='Enter Email' required='')
          input(type='password' name='password' id='' placeholder='Enter password' required='')
          input(type='number' name='phone' id='' placeholder='Enter Number' required='')
          textarea(name='message' id='' cols='30' rows='10' placeholder='Your Message' required='')
          button.btn submit
footer
  .row
    .col-7
      a(href='')
        img(src='../static/instagram.png')
      a(href='')
        img(src='../static/facebook.png')
      a(href='')
        img(src='../static/linkedin.png')
      a(href='')
        img(src='../static/twitter.png')
    .col-8
      p Copyright 2021 | All right reserved | Made by Rupesh
script
      include script.js


    
